@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<h1>Bleakwind Buffet</h1> 
<p>We at Bleakwind Buffet are proud to bring you authentic fantasy meals straight from the world of Skyrim. Shake the blood off your sword and sake your thirst with one of our old-fashioned sailor sodas. Hack into a Smokehouse Skeleton with your dagger. Or vanquish the the mighty Thalmor Triple Burger! You’ve had a hard adventure and earned your loot, so spend it with us!.</p>

<style>
    .itemTitle 
    {
        font-size: large;


    }
</style>


<div class="row">
    <div class="col-md-3">
        <h2>Entrees</h2>
            
            @foreach (BleakwindBuffet.Data.Interfaces.IOrderItem item in Website.WebsiteMenu.entrees)
            {
                <div class="itemTitle">@item.ToString()</div>

                <ul>
                    <li>@item.Price</li>
                    <li>@item.Calories</li>
                </ul>
            }

</div>

    <div class="col-md-3">
        <h2>Drinks</h2>

        @foreach (BleakwindBuffet.Data.Abstract.Drink item in Website.WebsiteMenu.drinks)
        {
            <div class="itemTitle">@item.ToString()</div>

            //<h4>@item.Size</h4>

            //@if (item.GetType() == (BleakwindBuffet.Data.Drinks.SailorSoda))
            //{
            //    <p>@item.SodaFlavor</p>
            //}


            <ul>
                <li>@item.Price</li>
                <li>@item.Calories</li>
            </ul>

        }



        
    </div>

    <div class="col-md-3">
        <h2>Sides</h2>

        @foreach (BleakwindBuffet.Data.Abstract.Side item in Website.WebsiteMenu.sides)
        {
            <div class="itemTitle">@item.ToString()</div>

            //<h4>@item.Size</h4>

            <ul>
                <li>@item.Price</li>
                <li>@item.Calories</li>
            </ul>
        }

    </div>

    
</div>
